<%- include("partials/head", { tittle: "List Games"}); -%>
<div class="container">
  <h2>List Games</h2>

  <a
    style="color: rgba(34, 221, 221, 0.83)"
    href="/games/add"
    class="btn btn-primary btn-lg"
    tabindex="-1"
    role="button"
    aria-disabled="true"
    >Add Games</a
  >
  <a
    href="/games/popularity"
    class="btn btn-primary btn-lg"
    tabindex="-1"
    role="button"
    aria-disabled="true"
    >Games Popularity Chart</a
  >
  <a
    href="/games/hard"
    class="btn btn-primary btn-lg"
    tabindex="-1"
    role="button"
    aria-disabled="true"
    >Most Challenging Games</a
  >

  <table class="table" style="margin-top: 10px">
    <thead>
      <tr>
        <th scope="col">Image</th>
        <th scope="col">Game</th>
        <th scope="col">Stock</th>
        <th scope="col">Price</th>
        <th scope="col">Serial Code</th>
        <th scope="col">options</th>
      </tr>
    </thead>
    <!-- looping data -->
    <% %>
    <tbody>
      <% data.forEach((game, index) => { %>
      <tr>
        <td><img src="<%= game.image  %>" alt="" /></td>
        <td><%= game.name %></td>
        <td><%= game.stock %></td>
        <td><%= Helper.toRupiahs(game.price) %></td>
        <td><%= game.serial_code %></td>
        <td>
          <a href="/games/<%= game.id %>/edit" class="btn btn-primary btn-sm"
            >edit</a
          >
          |
          <a
            href="/games/<%= game.id %>/delete"
            class="btn btn-primary btn-sm"
            onclick="alert('Hapus game ini?')"
            >delete</a
          >
          |
          <a
            href="/games/<%= game.id %>/buy"
            class="btn btn-primary btn-sm"
            onclick="alert('Beli game ini ?')"
            >Buy</a
          >
        </td>
      </tr>
      <% }) %>
    </tbody>
    <% %>
  </table>
</div>
<%- include("partials/foot"); -%>
