<%- include("partials/head", { tittle: "List Games"}); -%>
<div class="container">
  <h2>List Games</h2>

  <a
    href="/games/add"
    class="btn btn-primary btn-lg"
    tabindex="-1"
    role="button"
    aria-disabled="true"
    >Add Games</a
  >

  <table class="table" style="margin-top: 10px">
    <thead>
      <tr>
        <th scope="col">Image</th>
        <th scope="col">Game</th>
        <th scope="col">Stock</th>
        <th scope="col">Price</th>
        <th scope="col">Serial Code</th>
        <th scope="col">options</th>
      </tr>
    </thead>
    <!-- looping data -->
    <% %>
    <tbody>
      <% data.forEach((game, index) => { %>
      <tr>
        <td><img src="<%= data.image  %>" alt="" /></td>
        <td><%= data.name %></td>
        <td><%= data.stock %></td>
        <td><%= Helper.toRupiahs(data.price) %></td>
        <td><%= data.serial_code %></td>
        <td>
          <a href="/games/<%= data.id %>/edit" class="btn btn-primary btn-sm"
            >edit</a
          >
          |
          <a
            href="/games/<%= data.id %>/delete"
            class="btn btn-primary btn-sm"
            onclick="alert('Hapus data ini?')"
            >delete</a
          >
          |
          <a
            href="/games/<%= data.id %>/buy"
            class="btn btn-primary btn-sm"
            onclick="alert('Beli data ini ?')"
            >Buy</a
          >
        </td>
      </tr>
      <% }) %>
    </tbody>
    <% %>
  </table>
</div>
<%- include("partials/foot"); -%>
